In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

In [4]:
#using a list
import numpy as np
a_list=[1,3,5,7,9]
ser=pd.Series(a_list,index=['1st','2nd','3rd','4th','5th'])
ser

1st    1
2nd    3
3rd    5
4th    7
5th    9
dtype: int64

In [9]:
#using a dict
a_dict={'1st':1,'2nd':3,'3rd':5,'4th':7,'5th':9}
ser=pd.Series(a_dict)
ser

1st    1
2nd    3
3rd    5
4th    7
5th    9
dtype: int64

In [21]:
#task
student_dict={'vishwas':85,'karan':92,'vignesh':67,'varun':74,'jayanth':98,'karthik':54,'preetham':69}
ser=pd.Series(student_dict,name='scores')
print(ser)
print()
print(student_dict['varun'],student_dict['karthik'])
print()
ser=ser+5
print("scores after adding bonus of 5:\n",ser)
print()
print("above 90 marks agter adding bonus\n",ser[ser>80])
print()

print("average of all scores:",ser.mean())

vishwas     85
karan       92
vignesh     67
varun       74
jayanth     98
karthik     54
preetham    69
Name: scores, dtype: int64

74 54

scores after adding bonus of 5:
 vishwas      90
karan        97
vignesh      72
varun        79
jayanth     103
karthik      59
preetham     74
Name: scores, dtype: int64

above 90 marks agter adding bonus
 vishwas     90
karan       97
jayanth    103
Name: scores, dtype: int64

average of all scores: 82.0

In [27]:
an_array=np.array([[20,90],[25,69]])
ser=pd.DataFrame(an_array,index=['vishwas','karan'],columns=['age','marks'])
ser

ser.values
ser.index
ser.columns

Index(['age', 'marks'], dtype='object')

In [28]:
#using dict of dictionaries
a_dict={'name':{'ru':'rukshan','pr':'prasad','gi':'gihan','ha':'hansana'},
        'age':{'ru':25,'pr':25,'gi':26,'ha':24},
        'marks':{'ru':85,'pr':92,'gi':67,'ha':74}}
ser=pd.DataFrame(a_dict)
ser

       name  age  marks
ru  rukshan   25     85
pr   prasad   25     92
gi    gihan   26     67
ha  hansana   24     74

In [36]:
#using a dict and list
a_list={'name':['vishwas','karan','varun','vignesh'],
        'age':[20,23,24,25],
        'marks':[90,90,90,90]}
ser=pd.DataFrame(a_list)
ser

ser.index
ser.columns
ser.values
ser.values.shape
ser.values.ndim
type(ser.values)

numpy.ndarray

In [38]:
#using a dict of series
ser1=pd.Series([20,23,24,25],index=['vishwas','karan','varun','vignesh'])
ser2=pd.Series([90,90,90,90],index=['vishwas','karan','varun','vignesh'])
a_dict={'age':ser1,'marks':ser2}
df=pd.DataFrame(a_dict)
df

         age  marks
vishwas   20     90
karan     23     90
varun     24     90
vignesh   25     90

In [55]:
ser0=pd.Series(['vishwas','karan','varun','vignesh'])
ser1=pd.Series([20,23,24,25])
ser2=pd.Series([92,70,40,90])
a_dict={'name':ser0,'age':ser1,'marks':ser2}
df=pd.DataFrame(a_dict)
df
#highest marks
print(df.loc[df['marks'].idxmax()])
#adding one more column
df.loc[4]=['tharushi',23,88]
df
#accessing through age
print(df.loc[df['age']>=20])
df.loc[df['marks']<80,'marks']+=10
print(df)

print(df['marks'].mean())

name     vishwas
age           20
marks         92
Name: 0, dtype: object
       name  age  marks
0   vishwas   20     92
1     karan   23     70
2     varun   24     40
3   vignesh   25     90
4  tharushi   23     88
       name  age  marks
0   vishwas   20     92
1     karan   23     80
2     varun   24     50
3   vignesh   25     90
4  tharushi   23     88
80.0

In [56]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [69]:
#analyzing dataset
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data.csv')
df.head()
df.tail()
df.info()
df.isnull()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [72]:
#filling nullvalues
new_df=df.dropna()
print(new_df.to_string())
df.fillna(130,inplace=True)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     130.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         130    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     130.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [80]:
x=df['Calories'].median()
df.fillna({"Calories":x},inplace=True)

x=df['Calories'].mode()[0]
df.fillna({"Calories":x},inplace=True)

x=df['Calories'].mean()
df.fillna({"Calories":x},inplace=True)
print(df)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     130.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         130    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     130.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [81]:
df['date']=pd.to_datetime(df['Date'],format='mixed')
print(df.to_string())

    Duration        Date  Pulse  Maxpulse  Calories                          date
0         60  2020/12/01    110       130     409.1 2020-12-01 00:00:00.000000000
1         60  2020/12/02    117       145     479.0 2020-12-02 00:00:00.000000000
2         60  2020/12/03    103       135     340.0 2020-12-03 00:00:00.000000000
3         45  2020/12/04    109       175     282.4 2020-12-04 00:00:00.000000000
4         45  2020/12/05    117       148     406.0 2020-12-05 00:00:00.000000000
5         60  2020/12/06    102       127     300.0 2020-12-06 00:00:00.000000000
6         60  2020/12/07    110       136     374.0 2020-12-07 00:00:00.000000000
7        450  2020/12/08    104       134     253.3 2020-12-08 00:00:00.000000000
8         30  2020/12/09    109       133     195.1 2020-12-09 00:00:00.000000000
9         60  2020/12/10     98       124     269.0 2020-12-10 00:00:00.000000000
10        60  2020/12/11    103       147     329.3 2020-12-11 00:00:00.000000000
11        60  2020/12/12    100       120     250.7 2020-12-12 00:00:00.000000000
12        60  2020/12/12    100       120     250.7 2020-12-12 00:00:00.000000000
13        60  2020/12/13    106       128     345.3 2020-12-13 00:00:00.000000000
14        60  2020/12/14    104       132     379.3 2020-12-14 00:00:00.000000000
15        60  2020/12/15     98       123     275.0 2020-12-15 00:00:00.000000000
16        60  2020/12/16     98       120     215.2 2020-12-16 00:00:00.000000000
17        60  2020/12/17    100       120     300.0 2020-12-17 00:00:00.000000000
18        45  2020/12/18     90       112     130.0 2020-12-18 00:00:00.000000000
19        60  2020/12/19    103       123     323.0 2020-12-19 00:00:00.000000000
20        45  2020/12/20     97       125     243.0 2020-12-20 00:00:00.000000000
21        60  2020/12/21    108       131     364.2 2020-12-21 00:00:00.000000000
22        45         130    100       119     282.0 1970-01-01 00:00:00.000000130
23        60  2020/12/23    130       101     300.0 2020-12-23 00:00:00.000000000
24        45  2020/12/24    105       132     246.0 2020-12-24 00:00:00.000000000
25        60  2020/12/25    102       126     334.5 2020-12-25 00:00:00.000000000
26        60  2020/12/26    100       120     250.0 2020-12-26 00:00:00.000000000
27        60  2020/12/27     92       118     241.0 2020-12-27 00:00:00.000000000
28        60  2020/12/28    103       132     130.0 2020-12-28 00:00:00.000000000
29        60  2020/12/29    100       132     280.0 2020-12-29 00:00:00.000000000
30        60  2020/12/30    102       129     380.3 2020-12-30 00:00:00.000000000
31        60  2020/12/31     92       115     243.0 2020-12-31 00:00:00.000000000

In [83]:
df.dropna(subset=['Date'],inplace=True)
print(df)

    Duration        Date  Pulse  Maxpulse  Calories  \
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     130.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         130    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     130.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

                            date
0  2020-12-01 00:00:00.000000000
1  2020-12-02 00:00:00.000000000
2  2020-12-03 00:00:00.000000000
3  2020-12-04 00:00:00.000000000
4  2020-12-05 00:00:00.000000000
5  2020-12-06 00:00:00.000000000
6  2020-12-07 00:00:00.000000000
7  2020-12-08 00:00:00.000000000
8  2020-12-09 00:00:00.000000000
9  2020-12-10 00:00:00.000000000
10 2020-12-11 00:00:00.000000000
11 2020-12-12 00:00:00.000000000
12 2020-12-12 00:00:00.000000000
13 2020-12-13 00:00:00.000000000
14 2020-12-14 00:00:00.000000000
15 2020-12-15 00:00:00.000000000
16 2020-12-16 00:00:00.000000000
17 2020-12-17 00:00:00.000000000
18 2020-12-18 00:00:00.000000000
19 2020-12-19 00:00:00.000000000
20 2020-12-20 00:00:00.000000000
21 2020-12-21 00:00:00.000000000
22 1970-01-01 00:00:00.000000130
23 2020-12-23 00:00:00.000000000
24 2020-12-24 00:00:00.000000000
25 2020-12-25 00:00:00.000000000
26 2020-12-26 00:00:00.000000000
27 2020-12-27 00:00:00.000000000
28 2020-12-28 00:00:00.000000000
29 2020-12-29 00:00:00.000000000
30 2020-12-30 00:00:00.000000000
31 2020-12-31 00:00:00.000000000

In [84]:
df.loc[7,'Duration']=45
print(df.to_string())

    Duration        Date  Pulse  Maxpulse  Calories                          date
0         60  2020/12/01    110       130     409.1 2020-12-01 00:00:00.000000000
1         60  2020/12/02    117       145     479.0 2020-12-02 00:00:00.000000000
2         60  2020/12/03    103       135     340.0 2020-12-03 00:00:00.000000000
3         45  2020/12/04    109       175     282.4 2020-12-04 00:00:00.000000000
4         45  2020/12/05    117       148     406.0 2020-12-05 00:00:00.000000000
5         60  2020/12/06    102       127     300.0 2020-12-06 00:00:00.000000000
6         60  2020/12/07    110       136     374.0 2020-12-07 00:00:00.000000000
7         45  2020/12/08    104       134     253.3 2020-12-08 00:00:00.000000000
8         30  2020/12/09    109       133     195.1 2020-12-09 00:00:00.000000000
9         60  2020/12/10     98       124     269.0 2020-12-10 00:00:00.000000000
10        60  2020/12/11    103       147     329.3 2020-12-11 00:00:00.000000000
11        60  2020/12/12    100       120     250.7 2020-12-12 00:00:00.000000000
12        60  2020/12/12    100       120     250.7 2020-12-12 00:00:00.000000000
13        60  2020/12/13    106       128     345.3 2020-12-13 00:00:00.000000000
14        60  2020/12/14    104       132     379.3 2020-12-14 00:00:00.000000000
15        60  2020/12/15     98       123     275.0 2020-12-15 00:00:00.000000000
16        60  2020/12/16     98       120     215.2 2020-12-16 00:00:00.000000000
17        60  2020/12/17    100       120     300.0 2020-12-17 00:00:00.000000000
18        45  2020/12/18     90       112     130.0 2020-12-18 00:00:00.000000000
19        60  2020/12/19    103       123     323.0 2020-12-19 00:00:00.000000000
20        45  2020/12/20     97       125     243.0 2020-12-20 00:00:00.000000000
21        60  2020/12/21    108       131     364.2 2020-12-21 00:00:00.000000000
22        45         130    100       119     282.0 1970-01-01 00:00:00.000000130
23        60  2020/12/23    130       101     300.0 2020-12-23 00:00:00.000000000
24        45  2020/12/24    105       132     246.0 2020-12-24 00:00:00.000000000
25        60  2020/12/25    102       126     334.5 2020-12-25 00:00:00.000000000
26        60  2020/12/26    100       120     250.0 2020-12-26 00:00:00.000000000
27        60  2020/12/27     92       118     241.0 2020-12-27 00:00:00.000000000
28        60  2020/12/28    103       132     130.0 2020-12-28 00:00:00.000000000
29        60  2020/12/29    100       132     280.0 2020-12-29 00:00:00.000000000
30        60  2020/12/30    102       129     380.3 2020-12-30 00:00:00.000000000
31        60  2020/12/31     92       115     243.0 2020-12-31 00:00:00.000000000

In [86]:
for x in df.index:
  if df.loc[x,'Duration']>120:
    df.loc[x,'Duration']=120
print(df)

    Duration        Date  Pulse  Maxpulse  Calories  \
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7         45  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     130.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         130    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     130.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

                            date
0  2020-12-01 00:00:00.000000000
1  2020-12-02 00:00:00.000000000
2  2020-12-03 00:00:00.000000000
3  2020-12-04 00:00:00.000000000
4  2020-12-05 00:00:00.000000000
5  2020-12-06 00:00:00.000000000
6  2020-12-07 00:00:00.000000000
7  2020-12-08 00:00:00.000000000
8  2020-12-09 00:00:00.000000000
9  2020-12-10 00:00:00.000000000
10 2020-12-11 00:00:00.000000000
11 2020-12-12 00:00:00.000000000
12 2020-12-12 00:00:00.000000000
13 2020-12-13 00:00:00.000000000
14 2020-12-14 00:00:00.000000000
15 2020-12-15 00:00:00.000000000
16 2020-12-16 00:00:00.000000000
17 2020-12-17 00:00:00.000000000
18 2020-12-18 00:00:00.000000000
19 2020-12-19 00:00:00.000000000
20 2020-12-20 00:00:00.000000000
21 2020-12-21 00:00:00.000000000
22 1970-01-01 00:00:00.000000130
23 2020-12-23 00:00:00.000000000
24 2020-12-24 00:00:00.000000000
25 2020-12-25 00:00:00.000000000
26 2020-12-26 00:00:00.000000000
27 2020-12-27 00:00:00.000000000
28 2020-12-28 00:00:00.000000000
29 2020-12-29 00:00:00.000000000
30 2020-12-30 00:00:00.000000000
31 2020-12-31 00:00:00.000000000

In [87]:
for x in df.index:
  if df.loc[x,'Duration']>120:
    df.drop(x,inplace=True)
print(df)

    Duration        Date  Pulse  Maxpulse  Calories  \
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7         45  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     130.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         130    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     130.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

                            date
0  2020-12-01 00:00:00.000000000
1  2020-12-02 00:00:00.000000000
2  2020-12-03 00:00:00.000000000
3  2020-12-04 00:00:00.000000000
4  2020-12-05 00:00:00.000000000
5  2020-12-06 00:00:00.000000000
6  2020-12-07 00:00:00.000000000
7  2020-12-08 00:00:00.000000000
8  2020-12-09 00:00:00.000000000
9  2020-12-10 00:00:00.000000000
10 2020-12-11 00:00:00.000000000
11 2020-12-12 00:00:00.000000000
12 2020-12-12 00:00:00.000000000
13 2020-12-13 00:00:00.000000000
14 2020-12-14 00:00:00.000000000
15 2020-12-15 00:00:00.000000000
16 2020-12-16 00:00:00.000000000
17 2020-12-17 00:00:00.000000000
18 2020-12-18 00:00:00.000000000
19 2020-12-19 00:00:00.000000000
20 2020-12-20 00:00:00.000000000
21 2020-12-21 00:00:00.000000000
22 1970-01-01 00:00:00.000000130
23 2020-12-23 00:00:00.000000000
24 2020-12-24 00:00:00.000000000
25 2020-12-25 00:00:00.000000000
26 2020-12-26 00:00:00.000000000
27 2020-12-27 00:00:00.000000000
28 2020-12-28 00:00:00.000000000
29 2020-12-29 00:00:00.000000000
30 2020-12-30 00:00:00.000000000
31 2020-12-31 00:00:00.000000000

In [89]:
print(df.duplicated())
df.drop_duplicates(inplace=True)
print(df)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool
    Duration        Date  Pulse  Maxpulse  Calories  \
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7         45  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     130.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         130    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     130.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

                            date
0  2020-12-01 00:00:00.000000000
1  2020-12-02 00:00:00.000000000
2  2020-12-03 00:00:00.000000000
3  2020-12-04 00:00:00.000000000
4  2020-12-05 00:00:00.000000000
5  2020-12-06 00:00:00.000000000
6  2020-12-07 00:00:00.000000000
7  2020-12-08 00:00:00.000000000
8  2020-12-09 00:00:00.000000000
9  2020-12-10 00:00:00.000000000
10 2020-12-11 00:00:00.000000000
11 2020-12-12 00:00:00.000000000
13 2020-12-13 00:00:00.000000000
14 2020-12-14 00:00:00.000000000
15 2020-12-15 00:00:00.000000000
16 2020-12-16 00:00:00.000000000
17 2020-12-17 00:00:00.000000000
18 2020-12-18 00:00:00.000000000
19 2020-12-19 00:00:00.000000000
20 2020-12-20 00:00:00.000000000
21 2020-12-21 00:00:00.000000000
22 1970-01-01 00:00:00.000000130
23 2020-12-23 00:00:00.000000000
24 2020-12-24 00:00:00.000000000
25 2020-12-25 00:00:00.000000000
26 2020-12-26 00:00:00.000000000
27 2020-12-27 00:00:00.000000000
28 2020-12-28 00:00:00.000000000
29 2020-12-29 00:00:00.000000000
30 2020-12-30 00:00:00.000000000
31 2020-12-31 00:00:00.000000000

In [91]:
high_pulse=df['Pulse']>110
print(df[high_pulse])

    Duration        Date  Pulse  Maxpulse  Calories       date
1         60  2020/12/02    117       145     479.0 2020-12-02
4         45  2020/12/05    117       148     406.0 2020-12-05
23        60  2020/12/23    130       101     300.0 2020-12-23

In [92]:
sorted_dif=df.sort_values(by='Calories',ascending=False)
print(sorted_dif)

    Duration        Date  Pulse  Maxpulse  Calories  \
1         60  2020/12/02    117       145     479.0
0         60  2020/12/01    110       130     409.1
4         45  2020/12/05    117       148     406.0
30        60  2020/12/30    102       129     380.3
14        60  2020/12/14    104       132     379.3
6         60  2020/12/07    110       136     374.0
21        60  2020/12/21    108       131     364.2
13        60  2020/12/13    106       128     345.3
2         60  2020/12/03    103       135     340.0
25        60  2020/12/25    102       126     334.5
10        60  2020/12/11    103       147     329.3
19        60  2020/12/19    103       123     323.0
5         60  2020/12/06    102       127     300.0
17        60  2020/12/17    100       120     300.0
23        60  2020/12/23    130       101     300.0
3         45  2020/12/04    109       175     282.4
22        45         130    100       119     282.0
29        60  2020/12/29    100       132     280.0
15        60  2020/12/15     98       123     275.0
9         60  2020/12/10     98       124     269.0
7         45  2020/12/08    104       134     253.3
11        60  2020/12/12    100       120     250.7
26        60  2020/12/26    100       120     250.0
24        45  2020/12/24    105       132     246.0
20        45  2020/12/20     97       125     243.0
31        60  2020/12/31     92       115     243.0
27        60  2020/12/27     92       118     241.0
16        60  2020/12/16     98       120     215.2
8         30  2020/12/09    109       133     195.1
18        45  2020/12/18     90       112     130.0
28        60  2020/12/28    103       132     130.0

                            date
1  2020-12-02 00:00:00.000000000
0  2020-12-01 00:00:00.000000000
4  2020-12-05 00:00:00.000000000
30 2020-12-30 00:00:00.000000000
14 2020-12-14 00:00:00.000000000
6  2020-12-07 00:00:00.000000000
21 2020-12-21 00:00:00.000000000
13 2020-12-13 00:00:00.000000000
2  2020-12-03 00:00:00.000000000
25 2020-12-25 00:00:00.000000000
10 2020-12-11 00:00:00.000000000
19 2020-12-19 00:00:00.000000000
5  2020-12-06 00:00:00.000000000
17 2020-12-17 00:00:00.000000000
23 2020-12-23 00:00:00.000000000
3  2020-12-04 00:00:00.000000000
22 1970-01-01 00:00:00.000000130
29 2020-12-29 00:00:00.000000000
15 2020-12-15 00:00:00.000000000
9  2020-12-10 00:00:00.000000000
7  2020-12-08 00:00:00.000000000
11 2020-12-12 00:00:00.000000000
26 2020-12-26 00:00:00.000000000
24 2020-12-24 00:00:00.000000000
20 2020-12-20 00:00:00.000000000
31 2020-12-31 00:00:00.000000000
27 2020-12-27 00:00:00.000000000
16 2020-12-16 00:00:00.000000000
8  2020-12-09 00:00:00.000000000
18 2020-12-18 00:00:00.000000000
28 2020-12-28 00:00:00.000000000

In [106]:
# Create another DataFrame with Date and Trainer name
trainer_df = pd.DataFrame({
    'date': ['2020/12/01', '2020/12/02', '2020/12/03'],
    'Trainer': ['Alex', 'Jordan', 'Taylor']
})

# Convert 'Date' column in trainer_df to datetime format
trainer_df['date'] = pd.to_datetime(trainer_df['date'])

# Now merge
merged_df = pd.merge(df, trainer_df,on='date',how='left')

print(merged_df)

    Duration        Date  Pulse  Maxpulse  Calories  \
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7         45  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/13    106       128     345.3
13        60  2020/12/14    104       132     379.3
14        60  2020/12/15     98       123     275.0
15        60  2020/12/16     98       120     215.2
16        60  2020/12/17    100       120     300.0
17        45  2020/12/18     90       112     130.0
18        60  2020/12/19    103       123     323.0
19        45  2020/12/20     97       125     243.0
20        60  2020/12/21    108       131     364.2
21        45         130    100       119     282.0
22        60  2020/12/23    130       101     300.0
23        45  2020/12/24    105       132     246.0
24        60  2020/12/25    102       126     334.5
25        60  2020/12/26    100       120     250.0
26        60  2020/12/27     92       118     241.0
27        60  2020/12/28    103       132     130.0
28        60  2020/12/29    100       132     280.0
29        60  2020/12/30    102       129     380.3
30        60  2020/12/31     92       115     243.0

                            date Trainer
0  2020-12-01 00:00:00.000000000    Alex
1  2020-12-02 00:00:00.000000000  Jordan
2  2020-12-03 00:00:00.000000000  Taylor
3  2020-12-04 00:00:00.000000000     NaN
4  2020-12-05 00:00:00.000000000     NaN
5  2020-12-06 00:00:00.000000000     NaN
6  2020-12-07 00:00:00.000000000     NaN
7  2020-12-08 00:00:00.000000000     NaN
8  2020-12-09 00:00:00.000000000     NaN
9  2020-12-10 00:00:00.000000000     NaN
10 2020-12-11 00:00:00.000000000     NaN
11 2020-12-12 00:00:00.000000000     NaN
12 2020-12-13 00:00:00.000000000     NaN
13 2020-12-14 00:00:00.000000000     NaN
14 2020-12-15 00:00:00.000000000     NaN
15 2020-12-16 00:00:00.000000000     NaN
16 2020-12-17 00:00:00.000000000     NaN
17 2020-12-18 00:00:00.000000000     NaN
18 2020-12-19 00:00:00.000000000     NaN
19 2020-12-20 00:00:00.000000000     NaN
20 2020-12-21 00:00:00.000000000     NaN
21 1970-01-01 00:00:00.000000130     NaN
22 2020-12-23 00:00:00.000000000     NaN
23 2020-12-24 00:00:00.000000000     NaN
24 2020-12-25 00:00:00.000000000     NaN
25 2020-12-26 00:00:00.000000000     NaN
26 2020-12-27 00:00:00.000000000     NaN
27 2020-12-28 00:00:00.000000000     NaN
28 2020-12-29 00:00:00.000000000     NaN
29 2020-12-30 00:00:00.000000000     NaN
30 2020-12-31 00:00:00.000000000     NaN

In [107]:
print(df)

    Duration        Date  Pulse  Maxpulse  Calories  \
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7         45  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     130.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         130    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     130.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

                            date
0  2020-12-01 00:00:00.000000000
1  2020-12-02 00:00:00.000000000
2  2020-12-03 00:00:00.000000000
3  2020-12-04 00:00:00.000000000
4  2020-12-05 00:00:00.000000000
5  2020-12-06 00:00:00.000000000
6  2020-12-07 00:00:00.000000000
7  2020-12-08 00:00:00.000000000
8  2020-12-09 00:00:00.000000000
9  2020-12-10 00:00:00.000000000
10 2020-12-11 00:00:00.000000000
11 2020-12-12 00:00:00.000000000
13 2020-12-13 00:00:00.000000000
14 2020-12-14 00:00:00.000000000
15 2020-12-15 00:00:00.000000000
16 2020-12-16 00:00:00.000000000
17 2020-12-17 00:00:00.000000000
18 2020-12-18 00:00:00.000000000
19 2020-12-19 00:00:00.000000000
20 2020-12-20 00:00:00.000000000
21 2020-12-21 00:00:00.000000000
22 1970-01-01 00:00:00.000000130
23 2020-12-23 00:00:00.000000000
24 2020-12-24 00:00:00.000000000
25 2020-12-25 00:00:00.000000000
26 2020-12-26 00:00:00.000000000
27 2020-12-27 00:00:00.000000000
28 2020-12-28 00:00:00.000000000
29 2020-12-29 00:00:00.000000000
30 2020-12-30 00:00:00.000000000
31 2020-12-31 00:00:00.000000000

In [108]:
#remainin cloumns
df.rename(columns={'Maxpulse':'Max_Pulse'},inplace=True)
print(df)

    Duration        Date  Pulse  Max_Pulse  Calories  \
0         60  2020/12/01    110        130     409.1
1         60  2020/12/02    117        145     479.0
2         60  2020/12/03    103        135     340.0
3         45  2020/12/04    109        175     282.4
4         45  2020/12/05    117        148     406.0
5         60  2020/12/06    102        127     300.0
6         60  2020/12/07    110        136     374.0
7         45  2020/12/08    104        134     253.3
8         30  2020/12/09    109        133     195.1
9         60  2020/12/10     98        124     269.0
10        60  2020/12/11    103        147     329.3
11        60  2020/12/12    100        120     250.7
13        60  2020/12/13    106        128     345.3
14        60  2020/12/14    104        132     379.3
15        60  2020/12/15     98        123     275.0
16        60  2020/12/16     98        120     215.2
17        60  2020/12/17    100        120     300.0
18        45  2020/12/18     90        112     130.0
19        60  2020/12/19    103        123     323.0
20        45  2020/12/20     97        125     243.0
21        60  2020/12/21    108        131     364.2
22        45         130    100        119     282.0
23        60  2020/12/23    130        101     300.0
24        45  2020/12/24    105        132     246.0
25        60  2020/12/25    102        126     334.5
26        60  2020/12/26    100        120     250.0
27        60  2020/12/27     92        118     241.0
28        60  2020/12/28    103        132     130.0
29        60  2020/12/29    100        132     280.0
30        60  2020/12/30    102        129     380.3
31        60  2020/12/31     92        115     243.0

                            date
0  2020-12-01 00:00:00.000000000
1  2020-12-02 00:00:00.000000000
2  2020-12-03 00:00:00.000000000
3  2020-12-04 00:00:00.000000000
4  2020-12-05 00:00:00.000000000
5  2020-12-06 00:00:00.000000000
6  2020-12-07 00:00:00.000000000
7  2020-12-08 00:00:00.000000000
8  2020-12-09 00:00:00.000000000
9  2020-12-10 00:00:00.000000000
10 2020-12-11 00:00:00.000000000
11 2020-12-12 00:00:00.000000000
13 2020-12-13 00:00:00.000000000
14 2020-12-14 00:00:00.000000000
15 2020-12-15 00:00:00.000000000
16 2020-12-16 00:00:00.000000000
17 2020-12-17 00:00:00.000000000
18 2020-12-18 00:00:00.000000000
19 2020-12-19 00:00:00.000000000
20 2020-12-20 00:00:00.000000000
21 2020-12-21 00:00:00.000000000
22 1970-01-01 00:00:00.000000130
23 2020-12-23 00:00:00.000000000
24 2020-12-24 00:00:00.000000000
25 2020-12-25 00:00:00.000000000
26 2020-12-26 00:00:00.000000000
27 2020-12-27 00:00:00.000000000
28 2020-12-28 00:00:00.000000000
29 2020-12-29 00:00:00.000000000
30 2020-12-30 00:00:00.000000000
31 2020-12-31 00:00:00.000000000

In [112]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/OnlineRetail.csv',encoding='ISO-8859-1')
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

In [116]:
df.tail()
df.info()
print(df.shape)
print(df.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
(541909, 8)
InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [117]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [119]:
df = df.dropna(subset=['CustomerID'])
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [120]:
df['Description'] = df['Description'].fillna('Unknown')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [122]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')
df
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [123]:
df = df.dropna(subset=['InvoiceDate'])
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [124]:
negative_qty = df[df['Quantity'] < 0]
print(negative_qty.shape)

(8905, 8)

In [125]:
df = df[df['Quantity'] > 0]
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [126]:
bad_price = df[df['UnitPrice'] <= 0]
print(bad_price.shape)

(40, 8)

In [127]:
df = df[df['UnitPrice'] > 0]
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [129]:
duplicates = df.duplicated().sum()
print(duplicates)

5192

In [130]:
df = df.drop_duplicates()
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [136]:
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

# Revenue per customer
customer_revenue = df.groupby('CustomerID')['TotalPrice'].sum().sort_values(ascending=False)
print(customer_revenue.head())

CustomerID
14646.0    280206.02
18102.0    259657.30
17450.0    194390.79
16446.0    168472.50
14911.0    143711.17
Name: TotalPrice, dtype: float64

/tmp/ipython-input-1071659866.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

In [137]:
top_products = df.groupby('Description')['Quantity'].sum().sort_values(ascending=False)
print(top_products.head())

Description
PAPER CRAFT , LITTLE BIRDIE           80995
MEDIUM CERAMIC TOP STORAGE JAR        77916
WORLD WAR 2 GLIDERS ASSTD DESIGNS     54319
JUMBO BAG RED RETROSPOT               46078
WHITE HANGING HEART T-LIGHT HOLDER    36706
Name: Quantity, dtype: int64

In [138]:
df.to_csv("OnlineRetail_Cleaned.csv", index=False)

In [139]:
# 1 Filter transactions where Quantity > 1000 (possible outliers)
outliers = df[df['Quantity'] > 1000]
print("Suspicious outlier transactions:", outliers.shape)

# Optionally drop them if needed
df = df[df['Quantity'] <= 1000]

# 2 Sort by highest revenue orders
df['Revenue'] = df['Quantity'] * df['UnitPrice']

# Sort descending by Revenue
df_sorted = df.sort_values(by='Revenue', ascending=False)
print(df_sorted.head(10))

Suspicious outlier transactions: (104, 10)
       InvoiceNo StockCode                     Description  Quantity  \
222680    556444     22502  PICNIC BASKET WICKER 60 PIECES        60
173382    551697      POST                         POSTAGE         1
52772     540818     48185              DOORMAT FAIRY CAKE       670
244419    558526     23173           REGENCY TEAPOT ROSES        540
160544    550461     48185              DOORMAT FAIRY CAKE       670
422351    573077         M                          Manual         1
422376    573080         M                          Manual         1
406406    571751         M                          Manual         1
16438     537659     21623    VINTAGE UNION JACK MEMOBOARD       600
348319    567423     23113           PANTRY CHOPPING BOARD       756

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
222680 2011-06-10 15:28:00     649.50     15098.0  United Kingdom    38970.00
173382 2011-05-03 13:46:00    8142.75     16029.0  United Kingdom     8142.75
52772  2011-01-11 12:57:00       6.75     15749.0  United Kingdom     4522.50
244419 2011-06-30 11:01:00       8.15     17949.0  United Kingdom     4401.00
160544 2011-04-18 13:20:00       6.35     15749.0  United Kingdom     4254.50
422351 2011-10-27 14:13:00    4161.06     12536.0          France     4161.06
422376 2011-10-27 14:20:00    4161.06     12536.0          France     4161.06
406406 2011-10-19 11:18:00    3949.32     12744.0       Singapore     3949.32
16438  2010-12-07 16:43:00       6.38     18102.0  United Kingdom     3828.00
348319 2011-09-20 11:05:00       5.06     17450.0  United Kingdom     3825.36

        TotalSales   Revenue
222680    38970.00  38970.00
173382     8142.75   8142.75
52772      4522.50   4522.50
244419     4401.00   4401.00
160544     4254.50   4254.50
422351     4161.06   4161.06
422376     4161.06   4161.06
406406     3949.32   3949.32
16438      3828.00   3828.00
348319     3825.36   3825.36

/tmp/ipython-input-2826899709.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Revenue'] = df['Quantity'] * df['UnitPrice']

In [140]:
# Create a sample product info DataFrame
product_info = pd.DataFrame({
    'StockCode': ['85123A', '71053', '84406B', '84029G', '85099B'],
    'Category': ['Home Decor', 'Toys', 'Kitchen', 'Home Decor', 'Accessories'],
    'Supplier': ['UK_Imports', 'ToyWorld', 'CookCraft', 'UK_Imports', 'GlamShop']
})

# Merge with main data
df_merged = pd.merge(df, product_info, on='StockCode', how='left')

print(df_merged[['StockCode', 'Description', 'Category', 'Supplier']].head())

  StockCode                          Description    Category    Supplier
0    85123A   WHITE HANGING HEART T-LIGHT HOLDER  Home Decor  UK_Imports
1     71053                  WHITE METAL LANTERN        Toys    ToyWorld
2    84406B       CREAM CUPID HEARTS COAT HANGER     Kitchen   CookCraft
3    84029G  KNITTED UNION FLAG HOT WATER BOTTLE  Home Decor  UK_Imports
4    84029E       RED WOOLLY HOTTIE WHITE HEART.         NaN         NaN

In [141]:
country_stats = df_merged.groupby('Country').agg(
    total_revenue=('Revenue', 'sum'),
    avg_revenue=('Revenue', 'mean'),
    order_count=('InvoiceNo', 'nunique')
).sort_values(by='total_revenue', ascending=False)

print(country_stats.head(10))

                total_revenue  avg_revenue  order_count
Country
United Kingdom    6902494.694    19.771803        16617
Netherlands        275523.780   117.044936           92
EIRE               265032.060    36.682638          260
Germany            228678.400    25.338327          457
France             208934.310    25.094200          389
Australia          137820.210   116.796788           57
Spain               61558.560    24.832013           90
Switzerland         56443.950    30.659397           51
Belgium             41196.340    20.283772           98
Sweden              38367.830    85.261844           36

In [142]:
# Create price range buckets
bins = [0, 2, 10, 50, 500, df['UnitPrice'].max()]
labels = ['Very Cheap', 'Cheap', 'Medium', 'Expensive', 'Luxury']

df_merged['Price_Range'] = pd.cut(df_merged['UnitPrice'], bins=bins, labels=labels, include_lowest=True)

# Group by price range
price_range_stats = df_merged.groupby('Price_Range').agg(
    total_purchases=('InvoiceNo', 'count'),
    avg_revenue=('Revenue', 'mean'),
    total_revenue=('Revenue', 'sum')
)

print(price_range_stats)

             total_purchases  avg_revenue  total_revenue
Price_Range
Very Cheap            207740    16.590382    3446485.864
Cheap                 174046    25.127349    4373314.610
Medium                 10561    49.589881     523718.730
Expensive                200   201.762000      40352.400
Luxury                    41  2501.823902     102574.780

/tmp/ipython-input-136594937.py:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  price_range_stats = df_merged.groupby('Price_Range').agg(

In [143]:
corr_matrix = df_merged[['Quantity', 'UnitPrice', 'Revenue']].corr()
print(corr_matrix)

           Quantity  UnitPrice   Revenue
Quantity   1.000000  -0.023666  0.449534
UnitPrice -0.023666   1.000000  0.281710
Revenue    0.449534   0.281710  1.000000

In [144]:
# Rename columns
df_merged = df_merged.rename(columns={'StockCode': 'Product_ID', 'UnitPrice': 'Price'})

# Convert descriptions to lowercase
df_merged['Description'] = df_merged['Description'].str.lower()

# Filter products that contain a keyword (e.g., "glass")
glass_products = df_merged[df_merged['Description'].str.contains('glass', na=False)]
print(glass_products[['Product_ID', 'Description', 'Revenue']].head())

    Product_ID                        Description  Revenue
6        21730  glass star frosted t-light holder    25.50
64       21730  glass star frosted t-light holder    25.50
81       21730  glass star frosted t-light holder    25.50
138      22778                 glass cloche small    11.85
147      22798   antique glass dressing table pot    23.60

In [145]:
df_merged.to_csv("OnlineRetail_Processed.csv", index=False)

In [146]:
# Descriptive stats for numeric columns
print(df_merged.describe())

            Quantity                    InvoiceDate          Price  \
count  392588.000000                         392588  392588.000000
mean       12.296323  2011-07-10 19:28:01.589911040       3.126493
min         1.000000            2010-12-01 08:26:00       0.001000
25%         2.000000            2011-04-07 11:16:00       1.250000
50%         6.000000            2011-07-31 12:05:00       1.950000
75%        12.000000            2011-10-20 12:53:00       3.750000
max      1000.000000            2011-12-09 12:50:00    8142.750000
std        31.965322                            NaN      22.244748

          CustomerID     TotalPrice     TotalSales        Revenue
count  392588.000000  392588.000000  392588.000000  392588.000000
mean    15287.767639      21.616673      21.616673      21.616673
min     12347.000000       0.001000       0.001000       0.001000
25%     13955.000000       4.950000       4.950000       4.950000
50%     15150.000000      12.390000      12.390000      12.390000
75%     16791.000000      19.800000      19.800000      19.800000
max     18287.000000   38970.000000   38970.000000   38970.000000
std      1713.524805      90.368597      90.368597      90.368597

In [147]:
# Count of transactions by country
print(df_merged['Country'].value_counts().head(10))

# If 'Category' was added during merge
if 'Category' in df_merged.columns:
    print(df_merged['Category'].value_counts())

Country
United Kingdom    349108
Germany             9025
France              8326
EIRE                7225
Spain               2479
Netherlands         2354
Belgium             2031
Switzerland         1841
Portugal            1453
Australia           1180
Name: count, dtype: int64
Category
Home Decor     2343
Accessories    1614
Toys            257
Kitchen         243
Name: count, dtype: int64

In [148]:
# Find orders where Revenue > 1000 and Country == 'Germany'
high_value_orders_germany = df_merged.query("Revenue > 1000 and Country == 'Germany'")
print(high_value_orders_germany.head())

Empty DataFrame
Columns: [InvoiceNo, Product_ID, Description, Quantity, InvoiceDate, Price, CustomerID, Country, TotalPrice, TotalSales, Revenue, Category, Supplier, Price_Range]
Index: []

In [149]:
# Capture orders where Quantity is between 10 and 100
moderate_qty_orders = df_merged[df_merged['Quantity'].between(10, 100)]
print(moderate_qty_orders.shape)

(142478, 14)

In [150]:
df_merged.to_csv("OnlineRetail_Final.csv", index=False)

In [151]:
df_merged.to_excel("OnlineRetail_Final.xlsx", index=False)